
#bienvenida article{
    color: white;
    font-size: 18px;
    text-align: justify;
}
#cuerpo article{
    font-size: 18px;
    line-height: 30px;
}
#cuerpo img{
    width: 100%;
}
#cuerpo .tab_img img{
    width: 30px;
}
#cuerpo.imgconocenos img{
    width: 45%;
}
#cuerpo h3{
    color: #36648B;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    font: 40px/48px 'GoodDogRegular';
    letter-spacing: 0;
    line-height: 40px;
}
#cuerpo .page-header{
    font-size: 2em;
    font-weight: bold;
}
#cuerpo .producto{
    display: inline-block;
    vertical-align: top;
    padding: 1em 0;
    width: 30%;
}
#cuerpo .imagen_p img{
    width: 100%;
}
#cuerpo .titulo_p{
    font-weight: bold;
    padding: 0.5em;
}
.contenido{
    padding: 1.5em 0;
}
.info{
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.titulo-bar{
    color: white;
    padding: 0.5em;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.subtitulo-bar{
    text-align: center;
    margin: 0.5em;
}
.subtitulo-bar a{
    color: #666;
    padding: 0.5em 0;
    width: 100%;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 1px solid #ccc;
}
.img{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
     -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
     -o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
     -ms-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/*SLIDES HOW*/

/* slider layout */
.lof-slidecontent 
{ 
  position:relative;	
  overflow:hidden;	
  border:#F4F4F4 solid 1px;
  -moz-border-radius: 7px; 
  float:left;
  -webkit-border-radius:7px;
  box-shadow: 2px 10px 10px #CCC;
  -webkit-box-shadow: 2px 10px 10px #CCC;
  -moz-box-shadow: 2px 10px 10px #CCC;
}

.lof-slidecontent .preload
{
  height:100%;	
  width:100%;	
  position:absolute;	
  top:0;	
  left:0;	
  z-index:100000;	
  text-align:center;	
  background:#FFF
}

.lof-slidecontent .preload div
{	
  height:100%;	
  width:100%;	
  background:transparent url(../img/load-indicator.gif) no-repeat scroll 50% 50%;
}

.lof-slidecontent .sliders-wrapper
{	
  position:relative;	
  height:100%;	
  width:900px;	
  z-index:3px;	
  overflow:hidden; 
}

.lof-slidecontent ul.sliders-wrap-inner
{
  overflow:hidden;	
  background:transparent url(../img/load-indicator.gif) no-repeat scroll 50% 50%;	padding:0px;	margin:0;	position:absolute;	overflow:hidden;
}

.lof-slidecontent ul.sliders-wrap-inner li
{
  overflow:hidden;	
  padding:0px;
  margin:0px;	
  float:left;	
  position:relative;
}

.lof-slidecontent .lof-opacity li
{
  position:absolute;	
  top:0;	
  left:0;	
  float:inherit; 
}

.lof-slidecontent  .navigator-content 
{
  position:absolute; 
  bottom:10px; 
  right:10px;
  background:url(../img/transparent_bg.png) repeat;
  padding:5px 0px;
}

.lof-slidecontent .navigator-wrapper
{
  position:relative;	
  z-index:10;
  height:180px;
  width:310px;
  overflow:hidden;
  color:#FFF;
  float:left
}

.lof-slidecontent ul.navigator-wrap-inner
{	
  top:0;	
  padding:0;	
  margin:0;	
  position:absolute;	
  width:100%; 
}

.lof-slidecontent ul.navigator-wrap-inner li
{ 
  cursor:hand; 	
  cursor:pointer;	
  list-style:none;	
  padding:0;	
  margin-left:0px;	
  overflow:hidden;	
  float:left;	
  display:block;	
  text-align:center;
}

/*******************************************************/
 
ul.sliders-wrap-inner li img
{
    width: 100%;
  padding:0px;
  height: 100%;
}

.lof-slidecontent .slider-description a.readmore
{
  color:#58B1EA; 
  font-size: 100px;
}

.lof-slidecontent .slider-description a
{ 
  color:#FFF;
  font-size: 100px;
}

.lof-slidecontent .slider-description
{
  z-index:1000;
  position:absolute;
  bottom:0px;
  left:0px;
  width:350px;
  background:url(../img/bg_trans.png);
  height:100px;
  padding:10px;
  color:#FFF;
  font-family: Berlin Sans FB;
  font-size: 100px;
  font-weight: bold;
}

.lof-slidecontent .slider-description h4 
{    
  font-size: 100px;    
  margin: 10px 0;    
  padding: 0; 
}

.lof-slidecontent .slider-description .slider-meta a
{	
  margin:0;
  background:#C01F25;
  font-size: 100px;
  padding:2px 3px;
  font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
  text-transform:uppercase;
  text-decoration:none
}

.lof-slidecontent .item-meta a:hover
{	
  text-decoration:underline;
}

.lof-slidecontent .item-meta i 
{	
  font-size:70%; 
}

/* item navigator */

.lof-slidecontent ul.navigator-wrap-inner li img
{
  border:#666 solid 3px;	
}

.lof-slidecontent ul.navigator-wrap-inner li.active img, 
.lof-slidecontent ul.navigator-wrap-inner li:hover img 
{
  border:#A8A8A8 solid 3px;
  -moz-transition:border-color  ease-in-out 0.4s
}

.lof-slidecontent .navigator-content .button-next, 
.lof-slidecontent .navigator-content .button-previous
{
  display:block;
  width:22px;
  height:30px;
  color:#FFF;
  cursor:pointer;
}

.lof-slidecontent .navigator-content .button-next 
{
  float:left;	
  text-indent:-999px;
  margin-right:5px;
  background:url(../img/arrow-l.png) no-repeat right center;
}

.lof-slidecontent .navigator-content .button-previous 
{
  float:left;	
  text-indent:-999px;
  margin-left:5px;
  background:url(../img/arrow-r.png) no-repeat left center;
}

.lof-slidecontent .button-control 
{
  position:absolute;
  top:10px;
  right:10px;
  height: 20px;
  width: 20px;
  cursor:hand; cursor:pointer;
  background:url(../img/transparent_bg.png) repeat;
}

.lof-slidecontent .button-control span 
{ 
  display:block;  
  width:100%; 
  height:100%;
}

.lof-slidecontent .action-start span  
{
  background:url(../img/play.png) no-repeat center center;
}

.lof-slidecontent .action-stop span 
{
  background:url(../img/pause.png) no-repeat center center;
}